<%- include("header") -%>
<form action="" method="">
  <div class="container-fluid">
    <div class="row p-3 m-auto col-auto">
      <div class="row">
        <div class="col-3 p-2 mt-2">
          <label class="form-label"
            ><b><h4>1. Personal Details of PWD</h4></b></label
          >
          
        </div>
        <div class="col-6">
          <div class="input-group mb-2 w-50 p-3">
              <div class="input-group-prepend">
                <div class="input-group-text">Name of GP</div>
              </div>
              <input type="text" class="form-control" placeholder="Shaju" />
            </div>
        </div>
      </div>
      <!-- <label class="form-label"
          ><b><h5>1. Personal Details of PWD</h5></b></label
        > -->
      <div class="col">
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Name</div>
            </div>
            <input type="text" class="form-control" placeholder="John Doe" />
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Age</div>
            </div>
            <input type="number" class="form-control" placeholder="57" />
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Phone no</div>
            </div>
            <input
              type="number"
              class="form-control"
              placeholder="9876543210"
            />
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Caretaker's Name</div>
            </div>
            <input type="Text" class="form-control" placeholder="Rajev Mohan" />
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Caretaker's Phone No</div>
            </div>
            <input
              type="number"
              class="form-control"
              placeholder="9876543210"
            />
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Guardian's Name</div>
            </div>
            <input type="Text" class="form-control" placeholder="Priya Mohan" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Ward No</div>
              </div>
              <input type="number" class="form-control" placeholder="6" />
            </div>
          </div>
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">House No</div>
              </div>
              <input type="number" class="form-control" placeholder="13" />
            </div>
          </div>
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Gender</div>
              </div>
              <select class="form-control" id="exampleFormControlSelect1">
                <option selected>Choose...</option>
                <option>Male</option>
                <option>Female</option>
                <option>Trans.</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Address</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="4"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-secondary">Submit</button>
</form>
<%- include("footer") -%>

